<div class=container>
<br>
    <h1>Your Profile</h1>

    <h3>Username: <%= @user.username %>
    <h3>Email: <%= @user.email %></h3>

    <h3>You have <%= @playlists.length %> playlist(s)!!<h3>
    <%= link_to "View Playlists", user_playlists_path(@user), class: 'button' %>
</div>



